/*-- scss:defaults --*/
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

$posit-blue: #447099;

$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-mono: "Source Code Pro", monospace;
$headings-font-weight: 300;

$primary: $posit-blue;

/*-- scss:rules --*/
.shiny-logo {
  height: 1.3em;
  vertical-align: top;
  display: inline-block;
}


.call-to-action {
  @extend .btn;
  @extend .btn-primary;
  @extend .rounded;
  @extend .mb-2;
  @extend .btn-lg;
}

body {
  font-weight: 400;
}

h1 {
  font-size: 44px;
  font-weight: 300;
  line-height: 120%;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 120%;
}

a {
  text-decoration: underline;
}

.view-app {
  font-family: $font-family-monospace;
  text-transform: uppercase;
}

.card-footer {
  background-color: #fff;
  padding-bottom: 20px;
  border: 0;
}